<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
<!-- Font -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
<!-- Skeleton CSS -->
    <link rel="stylesheet" href="{{static_url("normalize.css")}}">
    <link rel="stylesheet" href="{{static_url("skeleton.css")}}">
<!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
        
  </body>
</html>
