<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Green Shop</title>
<!-- Font -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
<!-- Skeleton CSS -->
    <link rel="stylesheet" href="../static/normalize.css">
    <link rel="stylesheet" href="../static/skeleton.css">

    <style>
    .data-container {
      margin-top: 100px;
      box-shadow: 4px 4px #dfdfdf;
    }
    .portrait {
      width: 96px;
      margin-top: -48px;
      margin-left: 24px;
      display: inline-block;
      box-shadow: 4px 4px #dfdfdf;
    }
    td {
      border-bottom: 0;
    }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="data-container four columns">
          <div class="portrait "><img class="u-cf u-full-width" src="http://placehold.it/600/92c952"></div>
          <div class="twelve columns">
            <table class="six columns"> <tr><td>STR</td><td>10</td></tr> <tr><td>MAG</td><td>12</td></tr> <tr><td colspan=2><button class="button-primary" style="width:100%">Buy</button></td></tr> </table>
            <div class="six columns"><p>Tart soufflé pudding donut gummies powder tootsie roll. Tiramisu ice cream caramels chocolate cake.</p></div>
          </div>
        </div>
        <div class="data-container four columns">
          <div class="portrait"><img class="u-cf u-full-width" src="http://placehold.it/600/92c952" width=100></div>
          <div class="twelve columns">
            <table class="six columns"> <tr><td>STR</td><td>10</td></tr> <tr><td>MAG</td><td>12</td></tr> <tr><td colspan=2><button class="button-primary" style="width:100%">Buy</button></td></tr> </table>
            <div class="six columns"><p>Tart soufflé pudding donut gummies powder tootsie roll. Tiramisu ice cream caramels chocolate cake.</p></div>
          </div>
        </div>
        <div class="data-container four columns">
          <div class="portrait"><img class="u-cf u-full-width" src="http://placehold.it/600/92c952" width=100></div>
          <div class="twelve columns">
            <table class="six columns"> <tr><td>STR</td><td>10</td></tr> <tr><td>MAG</td><td>12</td></tr> <tr><td colspan=2><button class="button-primary" style="width:100%">Buy</button></td></tr> </table>
            <div class="six columns"><p>Tart soufflé pudding donut gummies powder tootsie roll. Tiramisu ice cream caramels chocolate cake.</p></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
